<section class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">二 、选择题</h3>
    </div>
    <div class="panel-body">
    <ol>
        <% for(var i = 0;i < topics.length; i++) { %>
        <li>
            <p><%= topics[i].question %></p>
            <% for(var x = 0;x < topics[i].options.length; x++) { %>
            <label><input type="radio" name=<%= topics[i].type + i %>
                value=<%= topics[i].options[x].value %>
                        <% if(topics[i].input) { %>
                        <% if(topics[i].input === topics[i].options[x].value) { %>
                          checked="checked"
                        <% } %>
                        <% } %>>
                (<%= topics[i].options[x].value %>)<%= topics[i].options[x].description %>
            </label><br/>
            <% } %>
        </li>
        <% } %>
    </ol>
    </div>
</section>