<%- include('partials/_head') %>

<header>
    <h1><%= title %></h1>
</header>

<form action="/" autocomplete="off" method="post">

    <%- include('partials/_informations') %>

    <%- include('partials/_fill-in-blanks') %>

    <%- include('partials/_single-choice') %>

    <%- include('partials/_multi-choice') %>

    <%- include('partials/_judge') %>

    <%- include('partials/_subjective') %>

    <input type="submit" value="爽快的提交"/>

</form>

<%- include('partials/_foot') %>