<%- include('partials/_head') %>

<div class="container">

    <header class="text-center">
        <h1><%= title %></h1>
    </header>

    <form id="form" action="/" autocomplete="off" method="post">

    <%- include('partials/_informations') %>

    <%- include('partials/_fill-in-blanks') %>

    <%- include('partials/_single-choice') %>

    <%- include('partials/_multi-choice') %>

    <%- include('partials/_judge') %>

    <%- include('partials/_subjective') %>

    </form>

    <button id="submit" class="btn btn-primary btn-block btn-lg">爽快的提交</button>

</div>

<%- include('partials/_modal') %>

<%- include('partials/_foot') %>