<%- include('partials/_head') %>

<div class="container">

    <header class="text-center">
        <h1><%= title %></h1>
    </header>

    <form action="/" autocomplete="off" method="post">

    <%- include('partials/_informations') %>

    <%- include('partials/_fill-in-blanks') %>

    <%- include('partials/_single-choice') %>

    <%- include('partials/_multi-choice') %>

    <%- include('partials/_judge') %>

    <%- include('partials/_subjective') %>

    <button id="submit" class="btn btn-primary btn-block btn-lg">爽快的提交</button>

    </form>

</div>
<%- include('partials/_foot') %>