<%- include('partials/_head') %>

<div class="container">

    <header class="text-center">
        <h1>爽快的统一建模语言理论测试</h1>
    </header>

    <form id="form" action="/" autocomplete="off" method="post">

    <%- include('partials/_informations',{information:getInformation()}) %>

    <%- include('partials/_fill-in-blanks',{topics:getFillInBlanks()}) %>

    <%- include('partials/_single-choice',{topics:getSingleChoice()}) %>

    <%- include('partials/_multi-choice',{topics:getMultiChoice()}) %>

    <%- include('partials/_judge',{topics:getJudge()}) %>

    <%- include('partials/_subjective',{topics:getSubject()}) %>

    </form>

    <button id="submit" class="btn btn-primary btn-block btn-lg">爽快的提交</button>

</div>

<%- include('partials/_modal') %>

<%- include('partials/_foot') %>